* {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(#2C3968, #5E7BE1);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1 rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

#anchor {
    padding-right: 2rem;
}

#main-anchor {
    padding-left: 4rem;
}
.nav li:hover, .site-title:hover {
    opacity: 50%;
}